/* Colors */

$sb-gray-light: #e8e8e8;
$sb-pink-medium: #f7646d;
$sb-green-medium: #216C2A;

/* Jobs */

.sb-find-jobs-heading {
    
    .noo-sidebar {
        width: 100% !important;
    }
    
    .noo-sidebar-wrap {
        background-color: transparent;
    }
    
    .row {
        padding-top: 1rem;
        border-bottom: 0.2rem solid white;
    }
    
    .row:last-child {
        border-bottom: none;
    }
    
    .sb-find-jobs-heading-text {
        color: white;
        font-weight: bold;
        padding-top: 1rem;
        height: 3rem;
    }
    
    select {
        border-radius: 0;
        -webkit-appearance: none;
        height: 3rem;
    }
    
    i {
        float: right;
        position: relative;
        top: -2rem;
        margin-right: 1rem;
    }
    
    .form-group {
        label {
            display: none;
        }
    }
    
    .widget-title {
        display: none;
    }
    
    .btn-search-submit {
        display: none;
    }
}

.sb-find-jobs-main-section {
    background-color: $sb-gray-light;
    
    .main-content {
        padding-top: 1rem;
        
        .posts-loop-title {
            font-size: 1.5rem;  
        }
        
        .posts-loop-content, .load-more-grap {
            display: inline-block;
            width: 100%;
        }
        
        article {
            padding: 0 !important;
            -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            margin: 0rem 1% 2rem 1%;
            width: 31% !important;  
            display: inline-table !important;
            
            .article-head {
                height: 14.5;
                
                img {
                    width: 100%;
                }
            }
            
            .article-main {
                height: 13.5rem;
                
                .article-main-inner {
                    height: 100%;
                    position: relative;
                    
                    .hourly_rate {
                        color: $sb-green-medium;
                        position: absolute;
                        top: 11rem;
                        left: 11.5rem;
                    }
                }
            }
            
            .article-footer {
                background-color: $sb-pink-medium;
                color: white;
                margin: 0;
            }
            
            .text-1 {
                font-size: 1rem;
                font-weight: bold;
                padding-top: 0.5rem;
            }
            
            .text-2 {
                font-size: 0.8rem;
                padding-top: 0.5rem;
                line-height: 0;
            }
            
            .content-meta {
                display: none;
            }
        }
        
        article:hover {
            .text-1 {
                color: white;
            }
        }
    }
}

/* Make the dark text more legible on the home page. */
.search-top-title, .search-main-title {
    color: black;
    text-shadow:
        -0.1em -0.1em 1em white,
        -0.1em  0.1em 1em white,
        0.1em -0.1em 1em white,
        0.1em  0.1em 1em white;
}

/* Buttons on the home and job details pages. */
.btn.btn-primary {
    margin-left: 0;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

/* Worker Status Color Template */
.worker_status_active {
    background-color: #00FF00;
    display: inline-block;
    padding: 0 0.214285714em 0 0.214285714em;
}
.worker_status_looking {
    background-color: #ADD8E6;
    display: inline-block;
    padding: 0 0.214285714em 0 0.214285714em;
}
.worker_status_dont_bother {
    background-color: #F7A086;
    display: inline-block;
    padding: 0 0.214285714em 0 0.214285714em;
}

/* Adjust widths for list of resumes. */
.search-sidebar {
    display: inline-block;
    width: 25%;
}

@media (min-width: 992px) {
    .job-list .col-md-8,
    .resume-list .col-md-8 {
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .job-list .col-md-4,
    .resume-list .col-md-4 {
        width: 100%;
        max-width: 425px;
    }
}

/* Room for Browse button on resume form. */
.resume-form .noo-addable-actions {
    width: 100%;
    height: 50px;
    float: left;
}

/* Create empty space between work experience and education entries. */
.resume-form .noo-addable-fields .fields-group + .fields-group {
    margin-top: 6em;
}

/* Depth for job category selection. */
.select-depth-1, ul > li.active-result.select-depth-1, ul > li.result-selected.select-depth-1 {
    margin-left: 2em;
}
.select-depth-2, ul > li.active-result.select-depth-2, ul > li.result-selected.select-depth-2 {
    margin-left: 4em;
}
