/**
 * 4.0 - Basic Element
 *  4.2 - forms
 */

// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 1px solid @legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: 300;
}
.control-label{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 30px;
}
// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  .box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 0.45em 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}
select{
  option{
    padding: 5px; 
  }
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical (@padding-base-horizontal*1.5);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  letter-spacing: 0.5px;
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();
  &.half {
    width: 47.5%;
    float: left;
    & + .half {
      margin-left: 5%;
    }
    &.jform-datepicker_end {
      margin-left: 5%;
    }
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

.text-placeholder{
  color: @input-color-placeholder !important;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}


// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned.
// As a workaround, we set a pixel line-height that matches the
// given height of the input. Since this fucks up everything else, we have to
// appropriately reset it for Internet Explorer and the size variations.

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: @input-height-base;
  // IE8+ misaligns the text within date inputs, so we reset
  line-height: @line-height-base ~"\0";

  &.input-sm {
    line-height: @input-height-small;
  }
  &.input-lg {
    line-height: @input-height-large;
  }
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  margin-bottom: 20px; // @grid-gutter-width/2;
  @media (max-width: @screen-xs-max) {
    margin-bottom: @grid-gutter-width / 4;
  }
  position: relative;
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  position: relative;
  display: block;
  min-height: @line-height-computed; // clear the floating input if there is no label text
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}
// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}
// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: not-allowed;
    }
  }
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

// .form-control-static {
//   // Size it appropriately next to real form controls
//   padding-top: (@padding-base-vertical + 1);
//   padding-bottom: (@padding-base-vertical + 1);
//   // Remove default margin from `p`
//   margin-bottom: 0;

//   &.input-lg,
//   &.input-sm {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }


// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

.input-sm {
  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.input-lg {
  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-right: (@input-height-base * 1.25);
  }
}
// Feedback icon (requires .glyphicon classes)
.form-control-feedback {
  position: absolute;
  top: (@line-height-computed + 5); // Height of the `label` and its margin
  right: 0;
  z-index: 2; // Ensure icon is above input groups
  display: block;
  width: @input-height-base;
  height: @input-height-base;
  line-height: @input-height-base;
  text-align: center;
}
.input-lg + .form-control-feedback {
  width: @input-height-large;
  height: @input-height-large;
  line-height: @input-height-large;
}
.input-sm + .form-control-feedback {
  width: @input-height-small;
  height: @input-height-small;
  line-height: @input-height-small;
}

// Feedback states
.has-success {
  .form-control-validation(@state-success-text; @state-success-text; @state-success-bg);
}
.has-warning {
  .form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg);
}
.has-error {
  .form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
}


// Reposition feedback icon if label is hidden with "screenreader only" state
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten(@text-color, 25%); // lighten the text some for contrast
  font-size: @font-size-small;
}



// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.form-inline {

  // Kick in the inline
  @media (min-width: @screen-sm-min) {
    // Inline-block all the things for "inline"
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      // .form-control {
      //   width: auto; // Prevent labels from stacking above inputs in `.form-group`
      // }
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      vertical-align: middle;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        width: auto;
      }
    }

    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // Validation states
    //
    // Reposition the icon because it's now within a grid column and columns have
    // `position: relative;` on them. Also accounts for the grid gutter padding.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}


// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal {

  // Consistent vertical alignment of radios and checkboxes
  //
  // Labels also get some reset styles, but that is scoped to a media query below.
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: (@padding-base-vertical ); // Default padding plus a border
  }
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox {
    min-height: (@line-height-computed + (@padding-base-vertical ));
  }

  // Make form groups behave like rows
  .form-group {
    // .make-row();
    .clearfix();
  }

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: @screen-sm-min) {
    .control-label {
      //margin-bottom: 0;
      ///padding-top: 1em; // Default padding plus a border
    }
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback {
    top: 0;
    right: (@grid-gutter-width / 2);
  }

  // Form group sizes
  //
  // Quick utility class for applying `.input-lg` and `.input-sm` styles to the
  // inputs and labels within a `.form-group`.
  .form-group-lg {
    @media (min-width: @screen-sm-min) {
      .control-label {
        padding-top: ((@padding-large-vertical * @line-height-large) );
      }
    }
    .form-control {
      &:extend(.input-lg);
    }
  }
  .form-group-sm {
    @media (min-width: @screen-sm-min) {
      .control-label {
        padding-top: (@padding-small-vertical );
      }
    }
    .form-control {
      &:extend(.input-sm);
    }
  }
}

.form-control-flat{
  position: relative; 
  text-align: left;  
  > label{
    position: relative;
    display: block;
    margin: 0;
  }
  .form-control-file-button {
      float: none;
      font-weight: 300;
      line-height: @input-height-base;
      margin: 0;
      padding: 0 20px;
      position: absolute;
      right: 4px;
      top: 1px;
      bottom: 1px;
      background: #fff;
  }
  .form-control-file {
    width: 50%;
    min-width: 300px;
  }

  .form-control-file input[type="file"], input[type="file"]{
      -moz-appearance: none;
      background: none repeat scroll 0 0 #fff;
      bottom: 0;
      box-shadow: none;
      cursor: pointer;
      height: @input-height-base;
      left: 0;
      opacity: 0;
      outline: medium none;
      padding: 0;
      position: absolute;
      width: 100%;
  }
  .form-control-file input[readonly], input[readonly]{
    cursor: pointer !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  textarea,
  select,
  input{
    .form-control;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background: none repeat scroll 0 0 #fff;
    border-style: solid;
    border-width: 1px;
    border-color: @input-border;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: block;
    outline:none;
    padding-right: 30px;
  }
  select + i{
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0px, -50%);
  }
  select[multiple]{
    height: auto;
    display: none;
  }
  > .radio,
  > .checkbox{
    margin: 0;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0 0 0 30px;
    input{
      left: -9999px;
      position: absolute;
    }
    i{
      background: none repeat scroll 0 0 #fff;
      border-style: solid;
      border-width: 1px;
      display: block;
      height: 22px;
      .border-radius(@input-border-radius);
      left: 0;
      outline: medium none;
      position: absolute;
      top: 0px;
      border-color: @input-border;
      width: 22px;
      color: @brand-primary;
      &:after{
        .opacity(0);
        .transition(opacity 0.1s ease 0s);
      }
    }
    input:checked{
      + i{
        &:after{
          .opacity(1);
        }
      }
    }
  }
  .radio{
    i{
      .border-radius(50%);
      &:after{
        .border-radius(50%);
        content: "";
        height: 8px;
        left: 6px;
        top: 6px;
        width: 8px;
        position: absolute;
        background: @brand-primary;
      }
    }
    min-height: (@line-height-computed + (@padding-base-vertical ));
  }
  .checkbox{
    i{
      .add-icon-after("\f00c");
      &:after{
        height: 22px;
        left: -3px;
        text-align: center;
        top: -2px;
        width: 22px;
        .opacity(0);
      }
    }
    min-height: (@line-height-computed + (@padding-base-vertical ));
  }
}

// Select dropdown
.form-group {
  .dropdown{
    > span{
      height: @input-height-base;
      line-height: @input-height-base;
      padding: 0 20px;
      display: block;
      cursor: pointer;
      border:1px solid @border-color-base;
      .border-radius(@border-radius-base);
      overflow: hidden;
      position: relative;
      .add-icon-before("\f107");
      &:before{
        border-left: 1px solid @border-color-base;
        display: block;
        height: @input-height-base;
        line-height: @input-height-base;
        position: absolute;
        right: 0;
        text-align: center;
        width: @input-height-base;
      }
    }
  .dropdown-menu{
      width: 100%;
      //.border-radius(0 0 @border-radius-base @border-radius-base);
      border:1px solid @border-color-base;
      padding: 0;
      //margin: 0;
      .box-shadow(0 3px 5px rgba(0,0,0,.175));
      background: #fff;
      > li {
        border-bottom: 1px solid @border-color-base;
        padding: 0;
        margin: 0;
        &:last-child{
          border: none; 
        }
        > a{
          padding-top:10px;
          padding-bottom: 10px;
          font-weight: inherit;
          &:focus,
          &:hover{
            background-color: @brand-primary;
            color: #ffffff;
          }
        }
      }
    }
  }
}