/* Colors */
/* Jobs */
/* line 11, assets/sass/style.scss */
.sb-find-jobs-heading .noo-sidebar {
  width: 100% !important;
}
/* line 15, assets/sass/style.scss */
.sb-find-jobs-heading .noo-sidebar-wrap {
  background-color: transparent;
}
/* line 19, assets/sass/style.scss */
.sb-find-jobs-heading .row {
  padding-top: 1rem;
  border-bottom: 0.2rem solid white;
}
/* line 24, assets/sass/style.scss */
.sb-find-jobs-heading .row:last-child {
  border-bottom: none;
}
/* line 28, assets/sass/style.scss */
.sb-find-jobs-heading .sb-find-jobs-heading-text {
  color: white;
  font-weight: bold;
  padding-top: 1rem;
  height: 3rem;
}
/* line 35, assets/sass/style.scss */
.sb-find-jobs-heading select {
  border-radius: 0;
  -webkit-appearance: none;
  height: 3rem;
}
/* line 41, assets/sass/style.scss */
.sb-find-jobs-heading i {
  float: right;
  position: relative;
  top: -2rem;
  margin-right: 1rem;
}
/* line 49, assets/sass/style.scss */
.sb-find-jobs-heading .form-group label {
  display: none;
}
/* line 54, assets/sass/style.scss */
.sb-find-jobs-heading .widget-title {
  display: none;
}
/* line 58, assets/sass/style.scss */
.sb-find-jobs-heading .btn-search-submit {
  display: none;
}

/* line 63, assets/sass/style.scss */
.sb-find-jobs-main-section {
  background-color: #e8e8e8;
}
/* line 66, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content {
  padding-top: 1rem;
}
/* line 69, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content .posts-loop-title {
  font-size: 1.5rem;
}
/* line 73, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content .posts-loop-content, .sb-find-jobs-main-section .main-content .load-more-grap {
  display: inline-block;
  width: 100%;
}
/* line 78, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article {
  padding: 0 !important;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
  margin: 0rem 1% 2rem 1%;
  width: 31% !important;
  display: inline-table !important;
}
/* line 87, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-head {
  height: 14.5;
}
/* line 90, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-head img {
  width: 100%;
}
/* line 95, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-main {
  height: 13.5rem;
}
/* line 98, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-main .article-main-inner {
  height: 100%;
  position: relative;
}
/* line 102, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-main .article-main-inner .hourly_rate {
  color: #216C2A;
  position: absolute;
  top: 11rem;
  left: 11.5rem;
}
/* line 111, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .article-footer {
  background-color: #f7646d;
  color: white;
  margin: 0;
}
/* line 117, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .text-1 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
/* line 123, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .text-2 {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  line-height: 0;
}
/* line 129, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article .content-meta {
  display: none;
}
/* line 135, assets/sass/style.scss */
.sb-find-jobs-main-section .main-content article:hover .text-1 {
  color: white;
}

/* Make the dark text more legible on the home page. */
/* line 143, assets/sass/style.scss */
.search-top-title, .search-main-title {
  color: black;
  text-shadow: -0.1em -0.1em 1em white, -0.1em  0.1em 1em white, 0.1em -0.1em 1em white, 0.1em  0.1em 1em white;
}

/* Buttons on the home and job details pages. */
/* line 153, assets/sass/style.scss */
.btn.btn-primary {
  margin-left: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

/* Worker Status Color Template */
/* line 160, assets/sass/style.scss */
.worker_status_active {
  background-color: #00FF00;
  display: inline-block;
  padding: 0 0.214285714em 0 0.214285714em;
}

/* line 165, assets/sass/style.scss */
.worker_status_looking {
  background-color: #ADD8E6;
  display: inline-block;
  padding: 0 0.214285714em 0 0.214285714em;
}

/* line 170, assets/sass/style.scss */
.worker_status_dont_bother {
  background-color: #F7A086;
  display: inline-block;
  padding: 0 0.214285714em 0 0.214285714em;
}

/* Adjust widths for list of resumes. */
/* line 177, assets/sass/style.scss */
.search-sidebar {
  display: inline-block;
  width: 25%;
}

@media (min-width: 992px) {
  /* line 183, assets/sass/style.scss */
  .job-list .col-md-8,
  .resume-list .col-md-8 {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 189, assets/sass/style.scss */
  .job-list .col-md-4,
  .resume-list .col-md-4 {
    width: 100%;
    max-width: 425px;
  }
}
/* Room for Browse button on resume form. */
/* line 197, assets/sass/style.scss */
.resume-form .noo-addable-actions {
  width: 100%;
  height: 50px;
  float: left;
}

/* Create empty space between work experience and education entries. */
/* line 204, assets/sass/style.scss */
.resume-form .noo-addable-fields .fields-group + .fields-group {
  margin-top: 6em;
}

/* Depth for job category selection. */
/* line 209, assets/sass/style.scss */
.select-depth-1, ul > li.active-result.select-depth-1, ul > li.result-selected.select-depth-1 {
  margin-left: 2em;
}

/* line 212, assets/sass/style.scss */
.select-depth-2, ul > li.active-result.select-depth-2, ul > li.result-selected.select-depth-2 {
  margin-left: 4em;
}
